/**
    Global CSS
*/

:root{
    --black : #4e4e4e;
    --gray : #f2f2f2;
    --hover-gray: #535050;
    --white : white;
    --blue: rgba(61, 100, 158, 0.9);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 0.25rem;
    font-family: "Lato", sans-serif;
}

/*
    Main Section 
*/
main {
    display: flex;
}
/*
    Side Bar Section
*/
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--gray);
    cursor: pointer;
}

aside i {
    padding: 0.5rem;
}

aside i:hover {
    background-color: var(--hover-gray);
} 

/*
    Content Area Section
*/
#musicPlayerContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.music-player-header {
    background-color: var(--black);
    padding: 2rem;
    display: flex;
    color: var(--white);
}
.music-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4rem;
}

.music-description p:first-child {
    font-size: 1.5rem;
}

.music-description p:nth-child(2) {
    margin-top: 1rem;
}

.music-player-list-area{
    margin: 1rem 0.5rem;
}

#musicPlayerListTable {
    display: flex;
}

#musicPlayerListTable tbody {
    display: flex;
    flex-direction: column;
    width: 100%;

}

#musicPlayerListTable tr {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
}

#musicPlayerListTable tr:nth-child(even){
    background-color: var(--gray);
}

td a {
    border: 1px solid var(--black);
    padding: 0.3rem;
    text-decoration: none;
}

/*
    Footer section
*/
footer {
    display: flex;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.5rem;
}
.footer-music-description{
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.music-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.25rem;
}
.footer-music-player{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

